<h3>AssessTakeExam</h3>
@inject HttpClient _http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<div class="sidebar">
    <br /><br /><br />
    <ul>
        <li class="active">
            <h3>Question 1:</h3>
        </li>
    </ul>
</div>


@code {

}
