@page "/editquizcategory"
@using Tool.Shared
@inject HttpClient _http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
<Navbar></Navbar>
<PageTitle>EditQuizCategory</PageTitle>


<form>
    <div class="container">
       <div class="container-heading">
                <h1>List of Questions</h1>
            </div>
            <div class="button-group">
            <button class="button active" @onclick="Saved">Add</button>
            <button class="button active">Edit</button>
                <button class="button active">Delete</button>
            </div>
            @if(questionList != null)
            {
                
                        @foreach (var q in questionList)
                        {
                            <div class="display-field form-input">
                            <input type="checkbox" />
                            <label class="checkbox-heading" >@q.QuestionName</label>
                            </div>
                        }
                   
             }
            </div> 

</form>
@code{
     List<EditViewModel> questionList = new List<EditViewModel>();
    protected override async Task OnInitializedAsync()
    {
        var response = await _http.GetAsync("api/question");
        response.EnsureSuccessStatusCode();
        questionList = await response.Content.ReadFromJsonAsync<List<EditViewModel>>();
        foreach(var q in questionList)
        {
            Console.WriteLine(q.QuestionName);
        }
    }
    void Saved()
    {
        NavigationManager.NavigateTo("/addquestion");
    }
}
