@page "/editquizcategory"

<Navbar></Navbar>
<PageTitle>EditQuizCategory</PageTitle>


<form>
    <div class="container">
       <div class="container-heading">
                <h1>Quiz Category</h1>
            </div>
            <div class="button-group">
            <button class="button active">Add</button>
            <button class="button active">Edit</button>
                <button class="button active">Delete</button>
            </div>

            <div class="display-field form-input">
                <input type="checkbox" />
                <label class="checkbox-heading" for="1">1:</label>
                <br>
                <input type="checkbox" />
            <label class="checkbox-heading" for="2">2:</label>
                <br>
                <input type="checkbox" />
            <label class="checkbox-heading" for="3">3:</label>
                <br>
                <input type="checkbox" />
            <label class="checkbox-heading" for="4">4:</label>
                <br>
                <input type="checkbox" />
            <label class="checkbox-heading" for="5">5:</label>
            </div>
        </div>

</form>
