<div class="navbar">
    <div class="nav">
        <div class="nav-brand">
            <a href="/homepage"><img src="/logo.png" alt="website-logo" /></a>
        </div>
        <h1 class="nav-title">Certification Tool</h1>
    </div>
</div>
