<div class="navbar">
    <div class="nav">
        <div class="nav-brand">
            <img src="https://www.ascensus.com/media/awrpgeu5/ascensus_logo.svg" alt="website-logo" />
        </div>
        <h1 class="nav-title">Certification Tool</h1>
    </div>
</div>
